# Source files
src/
__tests__/

# Configuration files
.vscode/
.git/
.github/
.gitignore
.eslintrc*
.prettierrc*
*.config.js
*.config.mjs
tsconfig*.json

# Development files
coverage/
node_modules/
*.log
*.tgz

# Documentation
docs/

# We want to include only
!dist/
!resources/
